extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/index') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Olivia Gaslin

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | &nbsp;&nbsp;&nbsp;&nbsp;The techdegree program by Treehouse covers both client side and server side development, each unit has a different focus and project.
            | My previous experience in the sciences has curated my critical thinking skills. A majority of scientific questions involve processing many concepts and piecing them together for a solution to a unique situation.
            | Solving these problems also involves a great amount of organization and planning, because on the path to a solution there are multiple steps that need to be taken that may not give you a direct answer, but something to get you closer to realizing the answer.
            | Pertaining to my personal approach to problems, I am a detail-oriented person but I also understand the importance of considering the bigger picture
            | I like to think about possible future problems so I can try to stop them coming to fruition, and if I can't avoid a problem I can at least prepare and perhaps mitigate it.
            | I believe I have potential to become a great developer because I am motivated and eager to solve problems and make existing code better.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li(class= 'skill') Express
          li(class= 'skill') CSS
          li(class= 'skill') HTML
          li(class= 'skill') Javascript loops, arrays, and objects
          li(class= 'skill') Javascript list pagination and filtering 
          li(class= 'skill') ES2015 basics
          li(class= 'skill') jQuery basics
          li(class= 'skill') Object-oriented JavaScript
          li(class= 'skill') AJAX basics
          li(class= 'skill') Asynchronous programming
          li(class= 'skill') Fetch API basics
        h6 Contact Info

        ul
          li(class= 'skill') 812-228-9860
          li(class= 'skill') olivia.gaslin@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/olivia-gaslin-6b55b9140/') LinkedIn
        a.button.expanded(href='https://github.com/ojgaslin') GitHub

  nav.grid-container.portfolio-breadcrumb
    a(href='/index.pug') ← Back
  
