extends layout.pug

block content
  article.grid-container.portfolio-intro
    link(rel='stylesheet', href='/css/style.css')
    div(class= 'myPortfolioContainer')
      
      h1(class= 'my') My 
      h1(class='portfolio') Portfolio

      
      p.lead.text-light
        | &nbsp;&nbsp;&nbsp;&nbsp;This page is my index of projects, each project required different skills to complete. The technologies used in these projects were
        | built on one another and this allowed the creation of increasingly more complex projects. The purpose of this website
        | is to hold the previous projects, present their links for easy access, and provide an all-around pleasurable user experience.
      article.grid-container.portfolio-index
        .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
          
           each project in projects
            .cell
             
             a(href =`/projects/${project.id}`)
              img.thumbnail(class= 'sample_picture', src=`${project.image_urls[0]}`, width='550', height='550')
              h5(class= 'project_name')= project.project_name
      
