<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css2?family=Lora&family=Yeseva+One&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
           img.thumbnail(src= '../../Images/profilepic.46.47 PM.png')
          .cell.auto

  
            h5(class= 'my_name') Olivia Gaslin

        
            p.text-light
            | Hello, my name is Olivia, and I am a beginner javascript full stack developer.
            | I graduated from Indiana University in Bloomington Indiana with a bachelors of science in Neuroscience. My focus here was the
            | biological and chemical sciences, but after graduating I decided to pursue web development with the Treehouse techdegree.
            | With this degree I am learning client side and server side development, each unit has a different focus and project.
            br
            a(class= 'my_name' href='/about') Learn More → 


    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
               button.menu-icon(type='button', data-toggle='my-info')

               span.title-bar-title Olivia Gaslin
      block content
        

      
  script(src='/js/vendor/jquery.js')
  script(src='/js/vendor/what-input.js')
  script(src='/js/vendor/foundation.js')
  script(src='/js/scripts.js')
