
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&family=Concert+One&display=swap');


h1,h2,h3,h4{
  font-family: 'Yeseva One', cursive;
  color: #180D01;
  text-shadow: 2px 2px 5px grey;
}

  div.cell.auto{
    font-family: 'Bellota Text', cursive;
    font-size: 16px;
  }

  p.lead.text-light{
    font-weight:400;
    font-size: 25px;
    font-family: 'Concert One', cursive;
    text-shadow: 2px 2px 5px grey;
  }


  h5.my_name{
    font-family: 'Yeseva One', cursive;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px orange;
  }

  h5.project_name{
    font-family: 'Yeseva One', cursive;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
  }
  #my-info > div > div.cell.auto > a{
    color: #FFFFFF;
    font-family: 'Yeseva One', cursive;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Yeseva One', cursive;
  }

  p{
    font-size: 15px;
    color: #180D01;
    font-weight: 600;
    text-shadow: 2px 2px 5px white;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #180D01;
  text-shadow: 2px 2px 5px grey;
}

.button{
  background-color: #180D01;
  width: 100%;
  font-family: 'Concert One', cursive;
}

/* .button:hover{
  background-color: #111;
} */

a{
  color: #180D01;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #FFFFFF;
  box-shadow: none !important;
  text-align: center;
}

  .portfolio-me p{
    font-family: 'Lora', serif;
    font-size: 14px;
    color: #180D01;
  }


  .portfolio-me a{
    font-family: 'Lora', serif;
    font-weight: 600;
    color: #180D01;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #180D01;
  }

a.my_name{
  text-shadow: 2px 2px 5px orange;
}
.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lora', serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;

}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #180D01;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

body > div.off-canvas-content.has-reveal-left{
    background-image: url("../../Images/background.jpg");
    background-attachment: fixed;
    background-position: right;
    overflow: scroll;
}

#my-info{
  background-color: #180D01;
}
  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
  font-family: 'Concert One', cursive;
  font-size: 25px;
  font-weight: 400;
  color: #180D01;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}
li.techno{
  color: #180D01;
  font-family: 'Concert One', cursive;
  text-shadow: 2px 2px 5px white;
}


img.sample_picture{
  image-rendering: -moz-crisp-edges;
  image-rendering:   -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

body > div.off-canvas-content.has-reveal-left > article, body > div.off-canvas-content.has-reveal-left > nav{
  max-width: 100%;
}

img.project_pic{
  position: relative;
  left: 2.7px;
  width: 3000px;
  height: auto;
  image-rendering: -moz-crisp-edges;
  image-rendering:   -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

img.sample_picture.thumbnail{
  padding: 0;

}

body > div.off-canvas-content.has-reveal-left > article > div > article, body > div.off-canvas-content.has-reveal-left > article > div > article{
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  max-width: 100%;
}


li.skill{
  color: #180D01;
  font-family: 'Concert One', cursive;
  font-weight: light;
  text-shadow: 2px 2px 5px white;
}

/***neon title css from https://codepen.io/Trinca/pen/NAvpWa**/
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.myPortfolioContainer {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.my {
  font-family: neon;
  color: #FB4264;
  font-size: 5vw;
  line-height: 5vw;
  text-shadow: 0 0 3vw #F40A35;
}

.portfolio {
  font-family: neon;
  color: #426DFB;
  font-size: 5vw;
  line-height: 5vw;
  text-shadow: 0 0 3vw #2356FF;
}


.my {
  animation: my 1s ease infinite;
  -moz-animation: my 1s ease infinite;
  -webkit-animation: my 1s ease infinite;
}

@keyframes my {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.portfolio {
  animation: portfolio 2s linear infinite;
  -moz-animation: portfolio 2s linear infinite;
  -webkit-animation: portfolio 2s linear infinite;
  -o-animation: portfolio 2s linear infinite;
}

@keyframes portfolio {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
